@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

#myCarousel {
  .carousel-item .mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
  }
  h4 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #FFF;
    line-height: 100%;
    letter-spacing: 0.5px;
    font-weight: 600;
  }
  p {
    font-size: 14px;
    margin-bottom: 40px;
    color: #d5d5d5;
  }
  .carousel-item {
    h4 {
      -webkit-animation-name: fadeInLeft;
      animation-name: fadeInLeft;
    }
    p {
      -webkit-animation-name: slideInRight;
      animation-name: slideInRight;
    }
    a {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
    }
    .mask img {
      -webkit-animation-name: slideInRight;
      animation-name: slideInRight;
      display: block;
      height: auto;
      max-width: 100%;
      margin-top: 45px;
    }
  }
  h4, p, a, .carousel-item .mask img {
    -webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .container {
    max-width: 1068px;
  }
  .carousel-item {
    height: 100%;
    min-height: 450px;
  }
  position: relative;
  z-index: 99;
  margin-top: 50px;
  background-size: cover;
}

.carousel-control-next, .carousel-control-prev {
  height: 32px;
  width: 32px;
  /* padding: 14px; */
  top: 50%;
  bottom: auto;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: #040404a6;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.carousel-fade {
  .carousel-item {
    opacity: 0;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
  }
  .carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right, .carousel-item.active {
    opacity: 1;
  }
  .carousel-item-left.active, .carousel-item-right.active {
    opacity: 0;
  }
  .carousel-item-left.active, .carousel-item-next {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .carousel-item-prev {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    &.active {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .carousel-item.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .carousel-item-left.active, .carousel-item-next {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-item-prev {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    &.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@supports (transform-style: preserve-3d) {
  .carousel-fade {
    .carousel-item-left.active, .carousel-item-next {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .carousel-item-prev {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      &.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
    .carousel-item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.spcev {
  margin-top: 10px;
  margin-bottom: 10px;
}

.reviews-view {
  margin-top: 15px;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > {
  .search_input {
    padding: 0 10px;
    width: 150px;
    transition: width 0.4s linear;
  }
  .search_icon {
    background: white;
    color: #e74c3c;
  }
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

#imaginary_container {
  margin-top: 20%;
  /* Don't copy this */
}

.stylish-input-group {
  .input-group-addon {
    background: white !important;
  }
  .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
  }
  button {
    border: 0;
    background: transparent;
  }
}

.span_pseudo {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}

.chiller_cb {
  span {
    &:before, &:after {
      content: "";
      display: inline-block;
      background: #fff;
      width: 0;
      height: 0.2rem;
      position: absolute;
      transform-origin: 0% 0%;
    }
  }
  position: relative;
  height: 2.5rem;
  margin-left: 15px;
  display: flex;
  align-items: center;
  font-size: 15px;
  input {
    display: none;
    &:checked ~ span {
      background: #2f0856;
      border-color: #7a1f84;
      &:before {
        width: 1rem;
        height: 0.15rem;
        transition: width 0.1s;
        transition-delay: 0.3s;
      }
      &:after {
        width: 0.4rem;
        height: 0.15rem;
        transition: width 0.1s;
        transition-delay: 0.2s;
      }
    }
    &:disabled ~ {
      span {
        background: #ececec;
        border-color: #dcdcdc;
      }
      label {
        color: #dcdcdc;
        &:hover {
          cursor: default;
        }
      }
    }
  }
  label {
    padding-left: 2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 0;
  }
}

.chiller_cb2 label {
  padding-left: 0rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-bottom: 0;
}

.chiller_cb span {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid #ccc;
  position: absolute;
  left: 0;
  transition: all 0.2s;
  z-index: 1;
  box-sizing: content-box;
  &:before {
    transform: rotate(-55deg);
    top: 1rem;
    left: 0.37rem;
  }
  &:after {
    transform: rotate(35deg);
    bottom: 0.35rem;
    left: 0.2rem;
  }
}

.rating {
  border: none;
  float: left;
  > {
    input {
      display: none;
    }
    label:before {
      margin: 2px;
      font-size: 1.6em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005";
    }
    .half:before {
      content: "\f089";
      position: absolute;
    }
    label {
      color: #ddd;
      float: right;
    }
    input:checked ~ label {
      color: #FFD700;
    }
  }
  &:not(:checked) > label:hover {
    color: #FFD700;
    ~ label {
      color: #FFD700;
    }
  }
  > {
    input:checked {
      + label:hover, ~ label:hover {
        color: #FFED85;
      }
    }
    label:hover ~ input:checked ~ label, input:checked ~ label:hover ~ label {
      color: #FFED85;
    }
  }
}

/***** CSS Magic to Highlight Stars on Hover *****/

/* hover previous stars in list */

.app-image {
  text-align: center;
}

.review-head {
  margin-bottom: 30px;
  color: #ff8206;
}

.review-box {
  border: 1px solid #ccc;
  padding: 25px 8px 25px 8px;
  border-radius: 10px;
  background-color: #fff;
}

.side-box {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 30px;
  text-align: left;
}

.side-heading {
  border-bottom: 1px solid #d7c2e2;
  padding: 10px 0 10px 16px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* padding-top: 5px; */
  background-color: #470f65;
}

.hor-rate {
  color: #da6805;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #da6805;
}

.mentor-pic {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-top: 75px;
  border: 3px solid #5f1f8c;
}

.rev-mentor-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 3px solid #ff7f00;
}

.cnect {
  background-color: #7d2086;
  margin-top: 25px;
}

.form-rt {
  margin-top: 10px;
  margin-bottom: 10px;
}

.reg-btn {
  margin-top: 1px;
  margin-bottom: 0px;
  font-size: 12px;
  text-align: center;
}

.btn-social {
  padding-left: 35px;
  position: relative;
  z-index: 1;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
  .fa {
    position: absolute;
    color: #fff;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 2;
    border-radius: 5px 0 0 5px;
  }
}

.btn-facebook {
  background-color: #3b5999;
}

.btn-twitter {
  background-color: #0f5f9c;
  &:hover {
    color: #fff;
  }
}

.btn-google {
  background-color: #dd4b39;
  &:hover {
    color: #fff;
  }
}

.cbox {
  margin-top: -20px;
  margin-left: 60px;
}

.primary-bg {
  background-color: #1c3ca8;
}

.primary-bg-dark {
  background-color: #193697;
}

.primary-bg-light {
  background-color: #1f42b9;
}

.secondary-bg {
  background-color: #87238c;
}

.secondary-bg-dark {
  background-color: #771f7c;
}

.secondary-bg-light {
  background-color: #97279c;
}

.gradient-bg, .sticky-header {
  background: -webkit-linear-gradient(45deg, #23044f 0%, #87238c 100%);
  background: linear-gradient(45deg, #23044f 0%, #87238c 100%);
}

.alt-color {
  color: #dcb945;
  &:hover {
    color: #d9b334;
  }
}

/*------------------ Button Color css ----------------*/

.btn-alpha {
  /*background-color: #ff7f00;*/
  border: 2px solid #ffffff;
  border-radius: 30px;
  &:hover {
    background-color: #87238c;
  }
}

.btn-alpha2 {
  background-color: #ff7f00;
  border-radius: 30px;
  border: 2px solid #ffffff;
  &:hover {
    background-color: #87238c;
  }
}

.section-heading {
  border-left: 4px solid #ff8206;
}

/*------------------ Nav bar Color css ----------------*/

.navbar .nav-item .active {
  color: #dcb945 !important;
}

.navbar-toggler.collapsed {
  span {
    background-color: #dcb945;
    &:nth-child(2) {
      background: #dcb945;
    }
  }
  right: 10px;
}

/*------------------ Banner section Color css ----------------*/

.banner5 {
  background: url(../images/common-bg2.png);
  background-repeat: no-repeat;
}

.banner {
  background: url(../images/common-bg1.png) center (center / cover), -webkit-linear-gradient(45deg, #1d024b 0%, #87238c 100%);
  background: url(../images/common-bg1.png) center (center / cover), linear-gradient(45deg, #1d024b 0%, #87238c 100%);
}

.timer-box {
  background: -webkit-linear-gradient(45deg, rgba(28, 60, 168, 0.7) 0%, rgba(135, 35, 140, 0.8) 100%);
  background: linear-gradient(45deg, rgba(28, 60, 168, 0.7) 0%, rgba(135, 35, 140, 0.8) 100%);
  h2:after {
    background: #dcb945;
  }
}

.timer-box-inner {
  background: -webkit-linear-gradient(45deg, #1c3ca8 0%, #87238c 100%);
  background: linear-gradient(45deg, #1c3ca8 0%, #87238c 100%);
}

.timer-text i {
  border: 2px solid #dcb945;
}

div.timer span {
  color: #dcb945;
}

/*------------------ Problem / Solution section Color css ----------------*/

.linear-gradient-bg {
  background-image: url(../images/common-bg.png), -webkit-linear-gradient(0deg, rgba(28, 60, 168, 0.8) 50%, rgba(135, 35, 140, 0.8) 50%);
  background-image: url(../images/common-bg.png), linear-gradient(90deg, rgba(28, 60, 168, 0.8) 50%, rgba(135, 35, 140, 0.8) 50%);
  background-size: cover;
}

/*------------------ Team Color css ----------------*/

.team-image {
  background: -webkit-linear-gradient(45deg, rgba(28, 60, 168, 0.7) 0%, rgba(135, 35, 140, 0.7) 100%);
  background: linear-gradient(45deg, rgba(28, 60, 168, 0.7) 0%, rgba(135, 35, 140, 0.7) 100%);
  box-shadow: 0 0 4px 0 #1c3ca8;
  &:before {
    background-image: -webkit-linear-gradient(bottom right, rgba(28, 60, 168, 0.3) 0%, rgba(135, 35, 140, 0.3) 100%);
    background-image: linear-gradient(to top left, rgba(28, 60, 168, 0.3) 0%, rgba(135, 35, 140, 0.3) 100%);
  }
  &:hover {
    background: -webkit-linear-gradient(45deg, #87238c 0%, #1c3ca8 100%);
    background: linear-gradient(45deg, #87238c 0%, #1c3ca8 100%);
    box-shadow: 0 0 4px 0 #87238c;
  }
}

ul.social {
  border-top: 1px solid rgba(135, 35, 140, 0.1);
  a {
    color: #1c3ca8;
    &:hover {
      color: #87238c;
    }
  }
}

/*------------------ FAQ Color css ----------------*/

.bullets {
  &:before {
    background: #dcb945;
  }
  i {
    color: #dcb945;
  }
}

.faq-cta a {
  color: #dcb945;
}

/*------------------ App section Color css ----------------*/

.store span {
  color: #4a017d;
}

/*------------------ Road Map Color css ----------------*/

.timeline-marker:before {
  background: #4a017d;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #4a017d;
}

.marker-outline {
  .timeline-marker:before {
    background: transparent;
    border-color: #1c3ca8;
  }
  .timeline-item:hover .timeline-marker:before {
    background: #1c3ca8;
  }
}

/*------------------ Form Color css ----------------*/

.form-control {
  border-color: #1c3ca8;
  border-bottom: 1px solid #c7c6c6;
  &:focus {
    border-color: #dcb945;
  }
}

/*------------------ Footer Color css ----------------*/

.footer {
  background: url(../images/common-bg.png), linear-gradient(315deg, #87238c 0%, #1d024b 100%);
  background: url(../images/common-bg.png), linear-gradient(315deg, #87238c 0%, #1d024b 100%);
  background-size: cover;
}

/*------------------ Preloader Color css ----------------*/

.loader-dots {
  .circle-1 {
    background-color: #1c3ca8;
  }
  .circle-2 {
    background-color: #87238c;
  }
}

@media (max-width: 767px) {
  .linear-gradient-bg {
    background: -webkit-linear-gradient(45deg, #1c3ca8 0%, #87238c 100%);
    background: linear-gradient(45deg, #1c3ca8 0%, #87238c 100%);
  }
}

/*------------------ Gear box Color css ----------------*/

.gear-box span {
  background-color: #1c3ca8;
  &:before {
    background-color: #87238c;
  }
}

.user_img {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}

.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  span {
    font-size: 14px;
    color: white;
  }
  p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
  }
}

.msg_head {
  position: relative;
}

#action_menu_btn {
  position: absolute;
  right: -30px;
  top: 7px;
  color: white;
  cursor: pointer;
}

.action_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      width: 100%;
      padding: 10px 15px;
      margin-bottom: 5px;
    }
  }
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    color: black;
    padding: 8px 14px;
    text-decoration: none;
    display: block;
  }
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.toggle-wrap {
  position: relative;
}

.toggle {
  border: 0;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding-right: 60px;
  padding-left: 20px;
  background-color: #ecf0f1;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  &:hover {
    transition: background-color 200ms ease 0;
    background-color: #dde4e6;
  }
  .fa {
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
    line-height: inherit;
    width: 40px;
    text-align: center;
    font-size: 16px;
    border-left: 1px solid #cfd9db;
    color: #77939a;
    transition: color 200ms ease 0;
  }
}

.menu {
  position: absolute;
  top: 55px;
  font-size: 14px;
  width: 230px;
  background-color: #ecf0f1;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  display: none;
}

.menu--open {
  display: block;
}

.menu:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #ecf0f1;
  position: absolute;
  top: -10px;
  left: 10px;
}

.menu__item {
  width: inherit;
  display: block;
  position: relative;
  padding-right: 40px;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
  border-top: 1px solid #dde4e6;
  transition: background-color 200ms ease 0;
  cursor: pointer;
  &:first-child {
    border-top: 0;
  }
  &:hover {
    background-color: #dde4e6;
    .fa {
      color: #495d62;
    }
  }
  .fa {
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
    line-height: inherit;
    width: 40px;
    text-align: center;
    font-size: 16px;
    border-left: 1px solid #cfd9db;
    color: #77939a;
    transition: color 200ms ease 0;
  }
}

.edt {
  float: right;
  margin-right: 2%;
}

/* ================================================NEW STYEL :: SET=========================================================== */

.sign_up {
  position: relative;
  height: 100vh;
  width: 100%;
}

.sign_up_section {
  position: relative;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  .right_top_pik {
    position: absolute;
    right: 0;
    top: 0;
  }
  .left_bottm_pik {
    bottom: 0;
    position: absolute;
    left: 0;
  }
  .right_top_pik, .left_bottm_pik {
    width: 440px;
  }
  .right_top_pik img, .left_bottm_pik img {
    width: 100%;
  }
  .container_width {
    width: 820px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .sign_up_fild .heading {
    text-align: center;
    margin-bottom: 20px;
    h2 {
      font-size: 45px;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 15px;
    }
    h4 {
      font-size: 18px;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      a {
        color: #662D91;
        display: inline-block;
        vertical-align: middle;
        font-weight: 500;
      }
    }
  }
}

.sign_up_fild .sign_up_form {
  .field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 10px;
  }
  #test-form {
    padding: 0 10px;
  }
  label {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  input {
    transition: all 0.2s;
    touch-action: manipulation;
    font-size: 17px;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    color: #000000;
    background-color: #fbfbfb;
    &:focus {
      outline: 0;
      border-bottom: 2px solid #666;
    }
  }
  label {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 9px;
    color: #74787B;
    padding-bottom: 8px;
  }
}

input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

.sign_up_fild .sign_up_form {
  label.animate-label {
    color: #000000;
    font-weight: 600;
  }
  input.active {
    border-bottom: 2px solid #662D91;
    padding-bottom: 4px;
    font-weight: 500;
  }
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input {
  &:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  &:not(:placeholder-shown) + label, &:focus + label {
    transform: translate(0, 0) scale(1);
    -weblit-transform: translate(0, 0) scale(1);
    -moz-transform: translate(0, 0) scale(1);
    -o-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    cursor: pointer;
  }
}

.sign_up_fild {
  .sign_up_form .equal_width .field {
    width: 50%;
    float: left;
    &.left {
      padding-right: 8px;
    }
    &.right {
      padding-left: 8px;
    }
  }
  .register {
    margin-top: 18px;
    .ct_box {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: inline-block;
      vertical-align: middle;
      color: #74787B;
      margin-right: 18px;
      &.no_w {
        padding-left: 0;
        margin-right: 40px;
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #eee;
      border-radius: 50%;
      border: 2px solid;
    }
    .ct_box {
      &:hover input ~ .checkmark {
        background-color: #ccc;
      }
      input:checked ~ .checkmark {
        border: 2px solid #662D91;
      }
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    .ct_box {
      input:checked ~ .checkmark:after {
        display: block;
      }
      .checkmark:after {
        top: 3px;
        left: 3px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #662D91;
        border: 2px solid #662D91;
      }
    }
    .checkmark::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: #707070ab;
      z-index: -1;
      top: -7px;
      left: -7px;
      opacity: 0.5;
      display: none;
    }
    .ct_box input:checked ~ .checkmark::before {
      display: block;
    }
  }
  .reltive_sec {
    position: relative;
    height: 100%;
    border-left: 1px solid #707070;
    ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      padding-left: 70px;
      list-style: none;
      li {
        margin-bottom: 15px;
        position: relative;
        a {
          background-color: #4285F4;
          color: #ffffff;
          display: block;
          padding: 10px;
          padding-left: 70px;
          border: 1px solid #4285F4;
          font-size: 15px;
          padding-right: 28px;
        }
        &:last-child a {
          background-color: #006699;
        }
        a img {
          background-color: #ffffff;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          border: 1px solid #4285F4;
          height: 100%;
        }
      }
    }
  }
  .sign_button {
    margin-top: 35px;
    margin-bottom: 60px;
    button {
      background-color: #4a017d !important;
      color: #fff !important;
      border: 1px solid #4a017d;
      border-radius: 30px;
      padding: 9px;
      font-size: 17px;
      min-width: 150px;
      cursor: pointer;
      transition: all 0.4s linear 0s;
    }
  }
  .sign_content .text-center {
    max-width: 410px;
    margin: 0 auto;
    p {
      font-size: 16px;
      line-height: 26px;
      a {
        color: #662D91;
        font-size: 16px;
      }
    }
  }
}

/* Hide the browser's default radio button */

/* Create a custom radio button */

/* On mouse-over, add a grey background color */

/* When the radio button is checked, add a blue background */

/* Create the indicator (the dot/circle - hidden when not checked) */

/* Show the indicator (dot/circle) when checked */

/* Style the indicator (dot/circle) */

.sign_in_up .modal-dialog {
  margin: 0 auto;
  margin: 0 auto;
  max-width: 750px;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.sign_in_up {
  .modal-header {
    h4 {
      font-size: 45px;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 15px;
    }
    .reg-btn {
      font-size: 18px;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      a {
        color: #662D91;
        display: inline-block;
        vertical-align: middle;
        font-weight: 500;
      }
    }
  }
  .modal-content {
    border: 0;
  }
  .sign_up_form {
    .field {
      display: flex;
      flex-flow: column-reverse;
      margin-bottom: 10px;
    }
    input {
      font-size: 17px;
      border: 0;
      border-bottom: 1px solid #ccc;
      font-family: inherit;
      -webkit-appearance: none;
      border-radius: 0;
      padding: 0;
      cursor: text;
      color: #000000;
      background-color: #fbfbfb;
    }
    label, input {
      transition: all 0.2s;
      touch-action: manipulation;

      &::placeholder {
        display: none;
      }
    }
  }
  .register {
    margin-top: 18px;
    .ct_box {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: inline-block;
      vertical-align: middle;
      color: #74787B;
      margin-right: 18px;
      &.no_w {
        padding-left: 0;
        margin-right: 40px;
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #eee;
      border-radius: 50%;
      border: 2px solid;
    }
    .ct_box {
      &:hover input ~ .checkmark {
        background-color: #ccc;
      }
      input:checked ~ .checkmark {
        border: 2px solid #662D91;
      }
    }
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    .ct_box {
      input:checked ~ .checkmark:after {
        display: block;
      }
      .checkmark:after {
        top: 3px;
        left: 3px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #662D91;
        border: 2px solid #662D91;
      }
    }
    .checkmark::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: #707070ab;
      z-index: -1;
      top: -7px;
      left: -7px;
      opacity: 0.5;
      display: none;
    }
    .ct_box input:checked ~ .checkmark::before {
      display: block;
    }
  }
  .reltive_sec {
    position: relative;
    height: 100%;
    border-left: 1px solid #707070;
    ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      padding-left: 70px;
      list-style: none;
      li {
        a {
          background-color: #4285F4;
          color: #ffffff;
          display: block;
          padding: 10px;
          padding-left: 70px;
          border: 1px solid #4285F4;
          font-size: 15px;
          padding-right: 28px;
          img {
            background-color: #ffffff;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            border: 1px solid #4285F4;
            height: 100%;
          }
        }
        margin-bottom: 15px;
        position: relative;
      }
    }
  }
  .sign_button {
    margin-top: 25px;
    margin-bottom: 40px;
    button {
      background-color: #4a017d !important;
      color: #fff !important;
      border: 1px solid #4a017d;
      border-radius: 30px;
      padding: 9px;
      font-size: 17px;
      min-width: 150px;
      cursor: pointer;
      transition: all 0.4s linear 0s;
    }
  }
  .sign_content .text-center {
    max-width: 410px;
    margin: 0 auto;
  }
  .modal-header .close {
    padding: 0rem;
    margin: -9rem -2.5rem 0rem auto;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  .sign_content .text-center p {
    font-size: 16px;
    line-height: 26px;
  }
  .modal-dialog {
    top: 50%;
    transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    -o-transform: translateY(-50%) !important;
  }
  .sign_up_form input.active {
    border-bottom: 2px solid #662D91;
    padding-bottom: 4px;
    font-weight: 500;
  }
}

/* Hide the browser's default radio button */

/* Create a custom radio button */

/* On mouse-over, add a grey background color */

/* When the radio button is checked, add a blue background */

/* Create the indicator (the dot/circle - hidden when not checked) */

/* Show the indicator (dot/circle) when checked */

/* Style the indicator (dot/circle) */