.mm-info {
    border-bottom: 1px solid #DDD !important; 
    padding: 5px 0 !important;
    list-style: square !important;
    color :#000 !important;
}

.mm-help-info {
    border-bottom: 0px solid #DDD !important; 
    padding: 1px 0 !important;
    list-style: circle !important;
    color :#000 !important;
}
 