@media(max-width: 1024px){
    .sign_up_section .sign_up_fild .heading h2 {
        font-size: 25px;
        margin-bottom: 6px;
    }
    .sign_up_section .right_top_pik, .sign_up_section .left_bottm_pik {
        width: 210px;
    }
    .sign_up_section .sign_up_fild .heading h4 {
        font-size: 15px;
    }
    .sign_up_fild .sign_button {
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .sign_up_fild .sign_content .text-center p {
        font-size: 14px;
        line-height: 20px;
    }
    .sign_up_fild .sign_content .text-center p a {
        font-size: 14px;
    }
    .sign_up_fild .sign_button button {
        padding: 7px;
        font-size: 14px;
        min-width: 120px;
    }
}
@media(max-width: 991px){
    .sign_in_up .modal-header .close {
        margin: -7rem 0.5rem 0rem auto;
    }
    .sign_in_up .modal-header h4 {
        font-size: 32px;
        margin-bottom: 0;
    }
    .new_contact_us form {
        padding: 20px !important;
        padding-bottom: 80px !important;
    }
    .new_contact_us ul li {
        float: left;
        width: 100% !important;
        padding: 0px 10px !important;
        margin-bottom: 10px !important;
    }
    .new_contact_us .placeholdder textarea {
        min-height: 120px !important;
    }
    .new_contact_us {
        padding-top: 70px !important;
    }
    .new_contact_us.about .left img {
        margin-bottom: 25px !important;
    }
    .new_contact_us {
        padding: 60px 15px !important;
    }
}
@media(max-width: 768px){
    #myCarousel .carousel-item .mask {
        padding: 0 25px;
        margin-top: 70px;
    }
    .carousel-control-next {
        margin-right: 10px;
    }
    .carousel-control-prev {
        margin-left: 10px;
    }
    #myCarousel .carousel-item a {
        margin-bottom: 10px;
    }
    .navbar-toggler.collapsed {
        right: 10px;
    }
    .input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
        border-radius: 30px;
    }
    .sign_up_fild .reltive_sec ul {
        position: static;
        top: 0;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -o-transform: translateY(0%);
        -ms-transform: translateY(0%);
        padding-left: 0px;
        list-style: none;
        text-align: center;
    }

    .sign_up_fild .reltive_sec ul li {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }
    .sign_up_fild .sign_button {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .sign_up_fild .reltive_sec {
        border-left: 0px solid #707070;
    }
    .sign_up_fild .sign_up_form label {
        margin-bottom: 3px;
    }

    .sign_in_up .reltive_sec ul {
        position: static;
        top: 0;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -o-transform: translateY(0%);
        -ms-transform: translateY(0%);
        padding-left: 0;
        list-style: none;
    }
    .sign_in_up .reltive_sec {
        border-left: 0px solid #707070;
    }
    .modal-open .modal {
        padding: 0 20px;
    }
    .sign_in_up .sign_button {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .sign_in_up .sign_content .text-center p {
        font-size: 12px;
        line-height: 18px;
    }
    .sign_in_up .modal-header h4 {
        margin-top: 10px;
    }
    .sign_in_up .reltive_sec ul li a {
        font-size: 12px;
    }
    

}
@media(max-width: 768px){ 
    .sign_up_fild .reltive_sec ul li a {
        padding-left: 46px;
        font-size: 11px;
        padding-right: 10px;
        margin-right: 4px;
    }
    .sign_up_fild .reltive_sec ul li {
        margin-left: 0;
    }
    .sign_up_fild .sign_up_form input {
        font-size: 14px;
    }
    .sign_up_fild .register {
        margin-top: 8px;
    }
    .sign_up_fild .register .ct_box {
        font-size: 12px;
    }
    .sign_up_fild .register .ct_box.no_w {
        margin-right: 30px;
    }
    .sign_up_fild .register .ct_box {
        margin-right: 10px;
    }
    .sign_up_fild .reltive_sec ul li a {
        padding-right: 5px;
    }
    .sign_up_section .right_top_pik, .sign_up_section .left_bottm_pik {
        width: 120px;
    }
    .sign_up_fild .sign_up_form label {
        font-size: 8px;
    }
    .sign_up_fild .sign_button {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .sign_up_section .sign_up_fild .heading {
        margin-bottom: 10px;
    }
}
@media(max-width: 439px){ 
    .sign_up_fild .register .ct_box {
        margin-right: 4px;
    }
    .sign_up_fild .reltive_sec ul li a {
        font-size: 9px;
    }
    .sign_in_up .modal-dialog {
        top: 0;
        transform: translateY(0%) !important;
        -webkit-transform: translateY(0%) !important;
        -moz-transform: translateY(0%) !important;
        -o-transform: translateY(0%) !important;
    }
}