.form-control,
.custom-file .custom-file-label,
.custom-file .custom-file-label::after,
.m-accordion__item,
.input-group .input-group-prepend > .input-group-text {
  border-color: #c0c7d8 !important;
}

table td,
table th,
.note-editor.note-frame {
  border: 1px solid #d7dbe7 !important;
}

.has-danger .form-control {
  border: 1px solid #c6ccde !important;
}

.has-danger .form-control:focus {
  border-color: #716aca !important;
}

.col-lg-cust {
  padding-right: 15px !important;
  padding-left: 15px !important;
  padding-top: 10px;
}

.remove-garage-service-panel {
  position: absolute;
  color: red;
  font-size: 16px;
  padding-left: 8px;
  cursor: pointer;
}

.p-15 {
  padding: 15px !important;
}

.m-demo__preview-border {
  border: 2px solid #e8e8f0 !important;
}

.m-timeline-2::before {
  left: 9.7rem;
}

.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-time {
  color: #202023;
}

.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-time {
  padding-top: 2.18rem;
}

.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-text {
  padding-left: 10rem;
  color: #202023;
}

.m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-cricle > i {
  font-size: 1.78rem;
  top: 1.07rem;
  left: 4.43rem;
  position: absolute;
}

#loading {
  position: absolute;
  background: white url("/assets/app/media/img/users/load.gif") no-repeat center center;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 999999;
}

@media (max-width: 575.98px) {
  .col-lg-cust {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  .sub_category_wrap {
    max-width: 100px;
  }
}

body.swal2-height-auto {
  height: 100% !important;
}

.mentor-info .info-container {
  width: 100%;
  min-height: 150px;
}

.mentor-info .info-container .profile {
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 50%;
}

.mentor-info .info-container .info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 10px;
}

.mentor-info .info-container .info-block.bank .lead {
  min-width: 30%;
}

.mentor-info .info-container .info-block .lead {
  font-size: 1rem;
  padding: 0 10px;
  min-width: 45%;
}

.mentor-info .info-container .info-block .lead .title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.mentor-info .info-container .info-block .lead .info-detail {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.mentor-info .info-container .info-block .education .title, .mentor-info .info-container .info-block .experience .title {
  font-size: 1.2rem;
  font-weight: 500;
}

.mentor-info .info-container .info-block .education .description, .mentor-info .info-container .info-block .experience .description {
  font-size: 0.9rem;
}

.mentor-info .info-container .info-block .experience, .mentor-info .info-container .info-block .education {
  width: 100%;
}

#hangout-link-modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hangout-link-modal .modal-dialog {
  width: 60%;
}

/* Rating star */
.star-ratings-sprite {
  background: url("/images/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  /* margin: 0 auto; */
  margin-left: 15px;
}

.star-ratings-sprite-rating {
  background: url("/images/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}

.amount-refund-close-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount-refund-close-div #amount-refund-close {
  padding-top: 27px;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */


.dtp_modal-win {
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eeeeee88 !important;
	opacity: 1 !important;
}

.dtp_modal-win .dtp_modal-content {
  position: static;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}